body {
    text-align: center;
    font-family: Cambria;
    background-color: gold;
}

#table {
    text-align: center;
    margin: auto;
}

.dropdowns {
    height: 41px;
    font-family: Cambria;
    font-size: medium;
}

h1{
    font-family: Cambria;
}

h2{
    font-family: Cambria;
}


